<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<h1><%= t('.title_html') %></h1>
<% if session[:counter] > 5 %>
	<h3><%= pluralize(session[:counter], 'load') + ' of this page'%></h3>
<% end %>
<% cache ["#{I18n.locale}_store", Product.latest] do %>
	<% @products.each do |product| %>
		<% cache ["#{I18n.locale}_entry", product] do %>
			<div class="entry">
				<%= image_tag(product.image_url) %>
				<h3><%= product.title %></h3>
				<%= sanitize(product.description) %>
				<div class="price_line">
					<span class="price"><%= currency_to_locale(product.price) %></span>
					<%= button_to t('.add_html'), line_items_path(product_id: product), remote: true %>
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>